/* global */
body {
  background: #050505;
  /* background-image: url(https://media3.giphy.com/media/WoD6JZnwap6s8/giphy.gif?cid=ecf05e471gjgaozxvinziv60qrcqqn6klwx7s9wc2c6yk0go&ep=v1_gifs_search&rid=giphy.gif&ct=g); */
  color: #f5f1e3;
}

/* Navbar */
.links {
  text-align: right;
}
.logoName{
  color: beige;
  font-family: cursive;
  font-size: 2em;
}
.logo {
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.links a {
  color: white; /* Set the color of the links to white */
  text-decoration: none; /* Remove underline from links */
  margin: 0 10px; /* Add some horizontal spacing between links */
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #050505;
  padding: 10px;
  z-index: 999;
}

/* Home */
.teal {
  font-size: 1.3em;
  color: transparent; /* Set text color to transparent */
  background-clip: text; /* Apply the gradient to the text content */
  background-image: linear-gradient(
    130deg,
    hsl(185deg 100% 50%) 0%,
    hsl(181deg 86% 54%) 11%,
    hsl(175deg 85% 56%) 22%,
    hsl(169deg 87% 58%) 33%,
    hsl(163deg 89% 59%) 44%,
    hsl(157deg 91% 59%) 56%,
    hsl(152deg 93% 59%) 67%,
    hsl(147deg 96% 58%) 78%,
    hsl(144deg 98% 56%) 89%,
    hsl(144deg 100% 50%) 100%
  );}



.home {
  margin-top: 3.5em;
}

.head1 {
  padding: 50px;
  color: #f5f1e3;
  font-weight: bold;
  text-align: center;
}


/* About */

.about {
  text-align: center;
}

.aboutHead {
  font-size: 4em;

  @media screen and (max-width: 768px) {
    font-size: 3em;
  }

  @media screen and (max-width: 480px) {
    font-size: 2em;
  }
}
.aboutText {
  font-size: 2em !important;

  @media screen and (max-width: 768px) {
    font-size: 1em; /* Adjust font size for screens with a maximum width of 768px */
  }

  @media screen and (max-width: 480px) {
    font-size: 0.5em; /* Adjust font size for screens with a maximum width of 480px */
  }
}
.aboutText1 {
  font-size: 1.5em !important;

  @media screen and (max-width: 768px) {
    font-size: 1em; /* Adjust font size for screens with a maximum width of 768px */
  }

  @media screen and (max-width: 480px) {
    font-size: 0.5em; /* Adjust font size for screens with a maximum width of 480px */
  }
}

/* skills */
.skills {
  text-align: center;
}
.projects {
  text-align: center;
}

/* projects */
a {
  text-decoration: none;
  color: white;
}

a:hover{
  color:#1b9aaa;
}

/* Contact */

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  padding: 20px;
  text-align: center;
}

.contact h2 {
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  justify-content: center; /* Center the input fields in the row */
  margin: 10px 0;
}

.form-control {
  width: 100%;
}

/* footer */

.navbar2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #050505;
  height: 80px;
  color: aliceblue;
  margin-top: -10px;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
